.stories-description {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.stories-description__inner {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
}

.stories-description__text-grid {
    display: flex;
    gap: 40px;
}

.stories-description__title {
    margin-bottom: 0;
}

.stories-description__subtitle {
    margin-bottom: 0;
    color: #CF1C1C;
}

.stories-description__column {
    flex: 1;
    min-width: 0;
}

@media (max-width: 768px) {

    .stories-description__text-grid {
        flex-direction: column;
        gap: 0px;
    }

    .stories-description__column {
        flex: unset;
        width: 100%;
    }

    .stories-description__title {
        margin-top: 40px;
        margin-inline: auto;
        display: block;
        text-align: center;
    }

    .stories-description__subtitle {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: #CF1C1C;
    }

    p{
        margin-block-start: 0;
    }
}