.fund-description {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.fund-description__inner {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
}

.fund-description__text-grid {
    display: flex;
    gap: 40px;
}

.fund-description__title {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

.fund-description__column {
    flex: 1;
    min-width: 0;
}

.description-photo {
    margin-bottom: 20px;
}

.description-photo img{
    width: 100%;
}

@media (max-width: 768px) {

    .fund-description__text-grid {
        flex-direction: column;
        gap: 0px;
    }

    .fund-description__column {
        flex: unset;
        width: 100%;
    }

    .fund-description__title {
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    p{
        margin-block-start: 0;
    }


    h2 {
        font-size: 28px;
    }
}