.home-description {
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    width: 100%;
}

.home-description-inner {
    max-width: 40%;
    margin: 0 auto;
    padding: 0 20%;
    display: block;
    align-items: start;
    justify-content: space-between;
    gap: 24px;
}

.home-description-text {
    font-size: 18px;
}

@media (max-width: 767px) {
    .home-description-inner {
        max-width: none;
        padding: 0 5%;
    }
}