.help-banner {
    position: relative;
    background: transparent;
    padding-top: 50px;
    padding-bottom: 70px;
    margin-bottom: 0;
    text-align: center;
}

.help-banner-content {
    position: relative;
    width: 80%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}


.help-banner-content {
    background-image: url('../../assets/giveachance.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.help-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 20px;
}

.help-banner-title {
    font-weight: bold;
    margin-block-start: 0;
    margin-top: 20px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.help-banner-subtitle {
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 600px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
    .help-banner {
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .help-banner-content {
        width: 90%;
        min-height: 250px;
    }

    .help-banner-overlay {
        padding: 0;
    }

    .help-banner-title {
        font-size: 18px;
        margin-top: 15%;
    }
    .help-banner-subtitle {
        font-size: 16px;
        line-height: 1.1;
        margin-top: 5%;
        max-width: 90%;
    }

}