@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CirceRounded';
  src: url('./assets/fonts/CirceRounded-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: CirceRounded, CirceRounded-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 64px;
}

h1 {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 800;
}

h2 {
  font-size: 40px ;
  line-height: 1.1;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

p {
  font-size: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px ;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}